ex-basics-1/sreyas-hello/src/sreyas_hello/__pycache__/__init__.cpython-313.pyc
ex-basics-2/sreyas-hello/src/sreyas_hello/__pycache__/__init__.cpython-313.pyc
ex-basics-3/sreyas-hello/src/sreyas_hello/__pycache__/__init__.cpython-313.pyc
ex-basics-3/sreyas-hello/src/sreyas_hello/__pycache__/hello.cpython-313.pyc
.gitignore
